<div class="top-title">
    <ul class="my-box-top">
        <li>
            <img src=" assets/icon/defaultavatar.png" alt="">
        </li>
        <li>
            <p>梁惠</p>
            <p>手机号：18951514669</p>
        </li>
    </ul>
</div>
<div class="my-message-list">
    <ul>
        <li>
            <a href="javascript:;">
                <span class="farm-set">牧场设置</span>
                <img src="assets/icon/right.png" width="4%">
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="feed-back">意见反馈</span>
                <img src="assets/icon/right.png" width="4%">
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="notice-help">使用帮助</span>
                <img src="assets/icon/right.png" width="4%">
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="about-us">关于我们</span>
                <img src="assets/icon/right.png" width="4%">
            </a>
        </li>
    </ul>
</div>
