*{
    margin:0;padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
ul,li,ol{
    list-style: none;
}
.toolbar-background.toolbar-background-md{
    background-color: #488aff;
}
.toolbar-title.toolbar-title-md{
    color:#fff;
    text-align: center;
}
.toolbar-background.toolbar-background-ios{
    background-color: #488aff;
    border-bottom:0;
}
.toolbar-title.toolbar-title-ios{
    color:#fff;
    font-weight: 400;
}
$imgArr:'account' 'farm-ion' 'message' 'service';
.tab-button-icon.icon.icon-md{
    height:30px;
    min-width: 35px;
}
@for $i from 1 to 5{
    .ion-ios-#{nth($imgArr,$i)}-outline{
        background-image: url("../assets/icon/#{nth($imgArr,$i)}.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .ion-ios-#{nth($imgArr,$i)}{
        background-image: url("../assets/icon/#{nth($imgArr,$i)}-active.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .ion-md-#{nth($imgArr,$i)}[ng-reflect-is-active="false"]{
        background-image: url("../assets/icon/#{nth($imgArr,$i)}.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .ion-md-#{nth($imgArr,$i)}[ng-reflect-is-active="true"]{
        background-image: url("../assets/icon/#{nth($imgArr,$i)}-active.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

